    *{
     box-sizing : border-box;
     overflow: auto;
    }
    span{
    }
    
    @media(min-width: 992px)
    {
      /*desktop*/
      section{
        float: left;
      }
     .col-md-4{
       width : 33.33%;
      }
    }
    @media(min-width: 768px and max-width:991px)
    {
      /*tablet view*/
      section{
       float:left;
      }
      .col-md-6{
       width : 50%;
      }
      .col-md-12{
      width : 100%;
      }
    }
    @media(max-width: 767px)
      {
        /*mobile*/
      }
